.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.pagination li {
    padding: 5px 0px;
    border-radius: 5px;
    
}

.pagination li:hover{
    cursor: pointer;
}

.pagination a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pagination li.active {
    background-color: #c33586;
    color: white;

}

.pagination li:hover{
    background-color: #fff;
}

.pagination li.active:hover{
    background-color: #c33586;
    color: white;
}

table {
    border-collapse: collapse; 
    margin-bottom: 10px;
}

td, th {
    border: 1px solid #ccc; 
    padding: 8px; 
}

.clickable:hover{
    background-color: #fff;
}